[2016-10-27 00:02] sandeepkoduri opened #16 "Compatibility issues with google-api-python-client 1.0+"
we have been using google-api-python-client 1.0+ for a while now.
I tried to upgrade to endpoint2.0, both libraries have dependency on oauth2client.

Is this a know issues or is there any work around.

[2016-11-05 19:53] dalbani opened #20 "Method with request body *and* query parameters become combined"
Given this [example](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/endpoints-frameworks-v2/quickstart/main.py) from the `python-docs-sample` repository:

[code]

I find strange that the `Greeting` request body and `times` query parameter get "mixed" into a `CombinedContainer` object personified by `request`.

If I compare with Java, all of the parameters

[2016-11-05 22:32] dalbani commented on #20
Speaking of `CombinedContainer`: how am I supposed to implement PATCH semantics when it doesn't differentiate the case:
- when the request body explicitly contains `{ "message": null }`, *from*
- when the request body does not mention `message` at all.

In both cases, `request.message` equals to `None`.

[2016-11-13 08:26] Synthoova opened #21 "Generated Swagger spec with required fields causes error on GCloud service-management deploy"
I've noticed something with the google-endpoints package, which I hope will be of interest...

I believe that endpoints-python/endpoints/swagger_generator.py may be in need of some modification. Here's why:

I've written a protorpc message class that has some required fields on it, such as:

[code]

When I use the swagger generator, I get a swagger output similar to this:

[code]

If it weren't fo

[2016-11-15 22:01] bradfriedman commented on #21
Thanks for this! I'll see if I can submit a fix for the Swagger generation tool.

[2016-11-16 04:54] Synthoova commented on #21
Brad,

Great! Thanks for doing that.

-Harley

On Nov 15, 2016 15:01, "Brad Friedman" <notifications@github.com> wrote:

[2016-12-03 01:18] aetherknight opened #26 "Migration guide does not mention pycrypto and ssl library requirements"
https://cloud.google.com/appengine/docs/python/endpoints/migrating

Not sure that this is the best place to file this, but I had to add both pycrypto and ssl to the `libraries` section of my app.yaml to get endpoints 2 (2.0.0b5) working. Neither were needed to get endpoints 1 working.

[code]

[2016-12-03 01:39] aetherknight opened #27 "Endpoints 2.0.0b5 raises exception when loading an _ApiDecorator (instead of a protorpc.remote.Service)"
I ran into a bug when trying to add an API to endpoints' WSGI application instead of each protorpc service. The following sample application works in endpoints 1, but not in endpoints 2.0.0b5:

main.py:
[code]

Error when main.py is loaded:

[code]

### Root Cause?

`_ApiServer.__init__` in `endpoints/apiserving.py` has a code path that tries to use `self.base_paths` before it is initialized:

[co

[2016-12-05 21:09] bradfriedman commented on #27
Thanks for bringing this up! I'll have a fix in review shortly.

[2016-12-08 22:40] bradfriedman commented on #27
This should be fixed now if you update your packages!

[2016-12-08 22:40] #27 closed

[2016-12-21 15:10] lhmatt opened #31 "Endpoints 2.0.0b7 '_ApiDecorator' object has no attribute 'base_path'"
Discovered while attempting to modify the EchoApi example code from https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/endpoints-frameworks-v2/echo to support multiple api classes.

I don't know if this is officially supported yet or not, but #27 seems to imply that it should work.

[code]

Running the `endpointscfg.py` script results in an AttributeError:

[

[2016-12-22 20:35] lhmatt opened #32 "Endpoints 2.0.0b7 - Firebase, Service Account tokens"
Spent a good few hours trying to get non-default Service Accounts and Firebase tokens to work with the endpoints framework. I wanted to feedback some issues, some work-arounds, and some general pointers for anyone else trying to do the same thing.

After following the quickstart guides on the [endpoint docs](https://cloud.google.com/endpoints/docs/how-to) I was able to get the tokens validating on

[2017-01-04 05:44] Synthoova commented on #21
This has been resolved. The OpenAPI specification now generates correctly.

[2017-01-04 05:44] #21 closed

[2017-01-06 07:35] Synthoova opened #33 "Discovery doc not generating on GAE"
I'm having an issue with my application that I've not been able to solve. Everything had been working fine, and as I have made very minimal changes since version 2.0.0b7 of endpoints-python was released, I'm posting this issue as I believe the source of the error may be originating inside endpoints-python.

For testing purposes, I make use of Google's API explorer tool to easily make calls against

[2017-01-09 19:03] bradfriedman commented on #31
I have a fix for this that will be going into review shortly. Thanks for pointing it out!

[2017-01-09 19:15] bradfriedman commented on #33
Thanks for bringing this up! Discovery doc generation used to be outsourced to another Google service, but we recently brought it into the Endpoints package for local, emulated generation, which is why discovery_generator.py is new and lacks revision history. Looks like there's an issue with that emulation. I'll look into it!

[2017-01-12 04:02] Synthoova commented on #31
I've encountered this error as well. Timeline for release of the fix?

In the meantime, I've found that changing line 241 to

`self.base_paths.add('/_ah/api/')`

allowed me to have it work as much as I needed.

[2017-01-12 04:04] Synthoova commented on #33
Excellent. I'll wait for a fix.

In the meantime, I'm testing by just swapping out my [default] service all the time, which seems unaffected by this problem.

[2017-01-13 06:02] kurapatijayaram commented on #31
when will be the release ??

[2017-01-15 03:32] Synthoova opened #36 "x-issuer and x-jwks_uri Extensions Are Deprecated"
The Google Cloud SDK is giving the following warning to openapi specifications generated by endpoints:

WARNING: mysystemv1.0openapi.json: x-jwks_uri: Extension name x-jwks_uri has been deprecated, please rename it to x-google-jwks_uri.

openapi_generator.py probably just needs a small edit to rename them.

[2017-01-23 04:43] susovan87 commented on #31
Still waiting for the issue get fixed. Working with the latest release, still facing the same problem.

[2017-01-23 19:49] bradfriedman commented on #31
The fix has been merged to master, and it will be released in a new version soon!

[2017-01-24 18:56] emelois opened #39 "Empty values are not removed by endpoints"
I think we've noticed a behavior which is not backward compatible with endpoints v1.

In v1, when the app is deployed (does not happen on the dev server), all empty values (None, (), {}, []) are removed from messages by the endpoints lib.

For instance :

d = {}
d['first'] = 'one'
d['two'] = {}

is transformed in {"first": "one"} in v1 and in {"first": "one", "two": {}} in v2.

Is this by design o

[2017-02-01 22:39] bradfriedman commented on #31
Should be fixed now in 2.0.1 :)

[2017-02-01 22:39] #31 closed

[2017-02-01 22:52] bradfriedman commented on #39
Does this behavior persist if you assign an empty list or tuple? Looking through the code, it appears that the intent is to remove NoneType values and empty lists/tuples, but not empty dicts. However, if the v1 behavior was to remove empty dicts as well, I can continue to look into this. Thanks!

[2017-02-01 23:01] bradfriedman commented on #36
I have a PR in place to fix this for the next minor release :)

[2017-02-01 23:33] bradfriedman commented on #36
This has been pushed and will be released soon!

[2017-02-01 23:33] #36 closed

[2017-02-02 10:53] emelois commented on #39
You're right, it seems to be the case only for empty dicts. I confirm that they were removed in v1.

[2017-02-02 19:50] bradfriedman commented on #33
There's a PR for this currently in review! Should be merged soon.

[2017-02-10 22:12] bradfriedman commented on #33
This has been merged! It will be part of the next release. :)

[2017-02-10 22:12] #33 closed

[2017-02-19 22:48] Tungamirai commented on #32
Hi I was trying to do the same thing for days now trying , to get endpoints and firebase authentication  working together, is your workaround still the best way to do it ? or did google fix this and make it less confusing ?

[2017-02-20 08:19] lhmatt commented on #32
Hey @Tungamirai. I haven't checked out the latest version but, it doesn't look like the `users_id_token.py` file has been modified in the repository. I'm going to assume this is still a problem.

[2017-02-21 01:10] Tungamirai commented on #32
@lhmatt  thanks for the reply , are they any solid examples/tutorials form start to end that use endpoints , with firebase authentication or any full repositories or complete projects  that show this working ?

I  just started to learn app-engine and endpoints and it just seems very frustrating in general, was expecting it to be better documented with solid examples,   are problems like this commo

[2017-02-21 08:32] lhmatt commented on #32
No worries, @Tungamirai. I have not found a full example with firebase auth, hence my post above. The closest I found was in the docs: https://cloud.google.com/endpoints/docs/frameworks/python/authenticating-users but I couldn't get it to work during the beta. Definitely give it a go if you can.

This version of endpoints has just come out of beta so it's understandable that the docs may be missin

[2017-02-22 16:33] aetherknight opened #46 "endpoints 2.0.2 - Hosting multiple APIs causes a 500 when client discovery APIs are called"
In endpoints python 1.0, it was possible to host multiple APIs on a single Google Appengine Standard service/module. However, my attempts to port a endpoints application with multiple APIs has been problematic. After upgrading to endpoints 2.0, when I try to point APIs Explorer at my instance, the discovery API calls trigger 500 errors:

[code]

I have several services that each implement a single

[2017-02-22 16:53] aetherknight commented on #46
Reference Python app that works in endpoints 1.0 but result in the above 500 with 2.0, when eg `http://localhost:8080/_ah/api/discovery/v1/apis/anotherapi/v1/rest` and `http://localhost:8080/_ah/api/discovery/v1/apis/someapi/v1/rest` are called:

[code]

[2017-02-22 17:08] aetherknight opened #47 "endpoints 2.0.2 - How to generate (and successfully upload) a swagger specification for multiple APIs?"
While trying to migrate an existing Endpoints 1.0 GAE Standard project to endpoints framework 2.0, I also ran into trouble trying to figure out how to deploy the multiple Swagger/OpenAPI configuration files for all of the APIs hosted in my application.

Given:

[code]

And then running the following commands:
[code]

So it seems like I am not able to deploy Swagger configurations for multiple endp

[2017-02-23 04:01] Synthoova commented on #46
Per the documentation, a slightly [different decoration scheme](https://cloud.google.com/endpoints/docs/frameworks/python/create_api#creating_an_api_implemented_with_multiple_classes) must be used when implementing across multiple classes.

In your case, it would be similar to as follows:

[code]

[2017-02-23 11:46] aetherknight commented on #46
Endpoints framework v1 supported multiple APIs (api collections), as I show in my example above. If I were to combine all of my APIs into a single API, wouldn't this change the path?

In my example under endpoints 1, the paths to the JSON-REST APIs would be:

* /_ah/api/someapi/v1/...
* /_ah/api/anotherapi/v1/...

However in your example, wouldn't they become:

* /_ah/api/myapi/v1/someapi/...
* /_

[2017-02-23 15:16] aetherknight opened #48 "not possible to specify an "index" action for a resource"
Given:

[code]

I would expect the action's path to be `/_ah/api/someapi/v1/some`. However, the path is `/_ah/api/someapi/v1/some/some_index`:

<img width="782" alt="some_index" src="https://cloud.githubusercontent.com/assets/62613/23264646/640ac2dc-f9e2-11e6-8781-5b3f907d8664.png">

This issue exists in both endpoints framework 1 and 2.0.2.

### Root Cause

Within the decorator function created b

[2017-02-23 15:49] aetherknight opened #49 "DateTime fields cause 500s as query parameters"
Endpoints and/or protorpc triggers a 500 error if a DateTime field is used as a query parameter instead of in the body of a request.

### Reference Code
[code]

### DateTime in a JSON body works as expected

When the `post` method is called with the date time in the JSON body in an ISO 8601-like format, it works fine:
<img width="679" alt="datetime_body" src="https://cloud.githubusercontent.com/as

[2017-02-23 18:04] aetherknight commented on #49
To clarify further, there are 2 problems:

* the endpoints API definition does not describe DateTimes in query parameter fields in a way that the APIs explorer handles nicely
* When deployed, Endpoints 2 behaves fine if I ignore APIs explorer and send the query parameter as an ISO-8601 string. However, the same request but with Endpoints 1 (when deployed to GAE) 500s and does not give me a stack t

[2017-03-01 22:16] Tungamirai commented on #32
Thanks @lhmatt  , will be keeping my eyes open for a documentation update , the link you found is the same one i also found but also couldn't get it to work, I hope the docs are updated soon

Thanks again

[2017-03-06 19:26] lookuptable opened #53 "`endpoints.get_current_user()` does not support 3rd-party auth"
Currently the `get_current_user()` method returns a user object only if the user is created from a Google ID token or an opaque OAuth token. We should fix it so that it works for users from a 3rd-party auth provide.

[2017-03-07 17:35] aetherknight commented on #46
This error also occurs if you try to provide multiple versions of the same API.

[2017-03-09 16:58] bigunyak opened #54 "Problems with endpointscfg.py script (ImportError: No module named _endpointscfg_setup)"
Hi there,

I've discovered a number of problems with the current implementation of `endpointscfg.py`, could you please comment on them and maybe suggest a workaround or a fix.

1. I use buildout to setup my development environment, that means all packages are installed as eggs and scripts with appropriate `sys.path` patching are placed under bin/ directory. Here is what I get when try to run `bin/

[2017-03-09 19:15] bigunyak commented on #54
I forgot to mention one more problem.
4. After adding all necessary paths to `PYTHONPATH`, I'm still not able to run the script, what I get is:
[code]
The solution which I found is to import `google` module inside `endpointscfg.py` file. But why is this error, could you please fix it?

[2017-03-10 11:56] bigunyak commented on #54
Ah, I found there are `--application` and `--output` command line options for the `endpointscfg.py` script, so please, scrape my third point. :)
The `--service` option is not documented though (or I haven't found where). And it's not clear what should be the value for `--hostname` parameter, in quickstart it's suggested as `echo-api.endpoints.[PROJECT-ID].appspot.com` and in "Adding Required API M

[2017-03-12 02:19] Synthoova commented on #32
@lhmatt Thanks so much for your post. It allowed me to finally get Firebase authentication working.

Google devs.....any word on when we can see the issues with Firebase authentication repaired in endpoints?

[2017-03-12 18:43] presveva commented on #53
seems related to #32

[2017-03-14 02:34] lookuptable opened #55 "3rd-party auth does not work with dev-server"
Copying from group email thread at https://groups.google.com/forum/#!topic/google-cloud-endpoints/we6u6KvmmB8

[2017-03-22 13:47] tekulvw commented on #32
Thank you so much! I've been banging my head against the wall for days trying to get this working and just now found this post. I ended up using `google.auth.id_token.verify_firebase_token()` to verify the token on one service and spawning a new microservice running `pyrebase` just to get user information. I really hope this gets fixed quickly.

[2017-03-25 18:35] tekulvw commented on #47
Seconding this issue

[2017-03-25 18:59] tekulvw opened #56 "Latest gcloud version breaks endpointscfg gen_client_lib"
The latest version of `gcloud` has deprecated the `application` key in `app.yaml` which is required for `gen_client_lib` to create a working library (for Java at least in my limited testing).

`gcloud version` output:

[code]

[2017-03-26 04:07] mbof commented on #47
+1

[2017-03-28 17:29] bradfriedman opened #57 "Allow slashes in path parameter values"
If a path parameter value contains a slash in it, the regex that passes the value into the request doesn't process it correctly.

[2017-04-02 13:40] browze commented on #47
+1
This issue hardly seems like an edge case.

[2017-04-04 16:31] grocco commented on #55
any update on this?

[2017-04-05 19:06] mlcrazy opened #59 "get_openapi_spec will only generate schemes with "http""
I can't figure out how to generate a open api spec json file with the correct schemes that would include "https", when I generate my file locally with a command like this:

`$python lib/endpoints/endpointscfg.py get_openapi_spec main.CoreApi --hostname core-api-dot-dev-sada-gcs.appspot.com`

util.is_running_on_devserver() will always return this as being a "Development" server because locally I'm

[2017-04-19 21:05] mchalek commented on #49
I ran into the same problem today.  I put a log message into protorpc util.py to see what was being passed to the decoded_datetime function, and it's a dictionary with the `milliseconds` and `time_zone_offset` arguments as keys.  Of course, that method expects a string argument.

[2017-05-11 18:21] Al77056 opened #64 "allowed_client_ids is not supported in @endpoints.api"
According to documentation below, allowed_clients_id is supported in both @endpoints.api and @endpoints.method, with the specific setting override the general setting.

When I have allowed_clients_id defined in @endpoints.method and it validates the JWT fine.

When I moved allowed_clients_id to @endpoints.api, it gives the following error:

[code]

[2017-05-15 01:31] sxhan commented on #32
@lhmatt Thank you so much for this. I spent a good part of my day trying to get my app to work, looking through the endpoints source code and thinking that theres no way this Firebase thing should work as described in the guides...

Are you planning on making a pull request for this at all? If not, I'll try to make a fix based on your PoC.

[2017-05-15 06:20] lhmatt commented on #32
No worries, @sxhan. I've abandoned my efforts with this framework so feel free to create your own pull request.

After quite a bit of investigation, I've moved on to using Endpoints via ESP on App Engine flexible. I know not everyone can/wants to move to the flexible environment but it works for what I need to do. You trade higher running costs for developer productivity - with GAE flexible you ca

[2017-05-15 12:41] Al77056 commented on #53
This is fixed now with version 2.0.5

[2017-05-15 12:45] Al77056 commented on #32
The example given for 3rd party issuer is like the following:
[code]
And version 2.0.5 works with the custom issuer I am using.

[2017-05-15 14:27] presveva commented on #53
@Al77056 thank you.

[2017-05-15 16:16] presveva commented on #53
@Al77056 No, with the 2.0.5 `endpoints.get_current_user()` returns the google user, the same obj of `google.appengine.api.users.get_current_user()`, which have nothing to do with the 3rd-party user obj (firebase in my case).

[2017-05-16 04:04] sxhan commented on #32
@lhmatt Thanks for the suggestion! I was ready to do that yesterday before I found your post, but your reply is making me consider going that route again. Will probably play with this framework a bit more.

@Al77056, thanks for the note. Unfortunately I can't get my Firebase Authentication to work without the changes lhmatt mentioned despite being on 2.0.5 . Are you testing your app locally or in

[2017-05-16 12:09] Al77056 commented on #32
@sxhan, I am testing in the cloud. Before changes made in 2.0.5, Endpoints framework was not validating JWT signed by Google service account. 2.0.5 fixes that.

[2017-05-16 17:52] tangiel commented on #32
@sxhan Could you provide sample logs of what happens when you try to use Firebase auth? 2.0.5 should indeed fix it.

[2017-05-16 18:23] presveva commented on #32
@tangiel probably this [screeshot of logs](https://drive.google.com/file/d/0B6lfGCLStoB6X0p2ZjFWR3FNNXM/view) can clarifay.
I'm using GAE standard, the GAE users API for internal use and firebase auth to authenticate users requests.
As you can see in the screenshot, `endpoints.get_current_user()` returns the GAE users obj (line 1), the same obj of `google.appengine.api.users.get_current_user()`.
B

[2017-05-16 18:25] tangiel commented on #53
@presveva it's not meant to return a third party SDK object, rather user info decoded from the JWT.

[2017-05-16 18:26] tangiel commented on #32
Ah, so the issue isn't really the type of the user object returned, rather that it doesn't contain the id. Correct?

[2017-05-16 18:46] presveva commented on #32
I don't want to create confusion, I just start from the snippet example in the documentation https://cloud.google.com/endpoints/docs/frameworks/python/authenticating-users#authenticating_with_firebase_auth
where `user = endpoints.get_current_user()` return the something related with firebase and not with GAE users API.

[2017-05-17 02:09] sxhan commented on #32
Looks like I'm hijacking the thread a bit. Apologies in advance for that.

@tangiel, my problem is different than that of @presveva. My issue was that I kept getting `ERROR    2017-05-16 20:26:38,633 users_id_token.py:362] Token info endpoint returned status 400: Invalid Value` whenever I tried to make a request to the endpoint.

I now realize that it may be because I was testing my endpoints appl

[2017-06-07 23:56] ubragg commented on #54
I ran into your issue 2 here (endpointscfg.py doesn't run appengine_config.py), and found that issue is being tracked here: https://issuetracker.google.com/issues/35898132

[2017-06-08 10:38] sllegendre commented on #32
@sxhan Did you make it work by appling the changes in 'endpoints/user_id_token.py' as decribed by Ihmatt or was that no longer neccessary for you?

[2017-06-09 05:32] sxhan commented on #32
@sllegendre, following lhmatt's suggestions made it work, but I still have trouble without implementing those changes. I ended up writing a wrapper around endpoints.get_current_user() for my app to make development easier for myself. Something like this...

[code]
This made it easy for me to test all my endpoints locally, although it won't help you debug any configuration issues with firebase auth

[2017-06-26 17:35] omarcoteixeira opened #66 "Deploy endpoints 2.0 in an app engine old version isn't updating api explorer"
I'm trying to update an app version appengine called "development" and was **created with endpoints 1.0** with endpoints version **2.0**.

When I update the "development" version with endpoints 2.0 and I go to Api Explorer, the Api Explorer still with the old version of the API (created with endpoints 1.0).
When I do the deploy in a new version called "development-endpoints2o" and I go to Api Expl

[2017-06-27 17:30] tangiel commented on #66
@omarcoteixeira it may be an issue with caching. If your development version is not critical, I suggest deleting and re-deploying the version.

[2017-06-28 19:46] omarcoteixeira commented on #66
@tangiel I tried but it still continues there with old version if I create with the same name. I create a new one with a different name and works.

[2017-07-17 14:12] MicheleATG opened #70 "Versioning class Endpoints"
Hi,

I migrated from v1 to v2 and I am having this issue:
I cannot perform versioning for two different services

[code]

[code]

[code]

`application = endpoints.api_server([TestApi, TestApiV2], restricted=False)`

Error:
<img width="1261" alt="schermata 2017-07-17 alle 16 07 00" src="https://user-images.githubusercontent.com/19574472/28273442-b3f1d734-6b0e-11e7-8fcb-7d543edc0659.png">

[2017-08-04 07:16] ValentinCoudert opened #74 "'Path used multiple times' when migrating to v2"
(Also on [Stackoverflow](https://stackoverflow.com/questions/45480401/path-used-multiple-times-when-migrating-to-google-cloud-enpoints-v2))

Hello

I tried to follow [the steps to migrate to v2](https://cloud.google.com/endpoints/docs/frameworks/legacy/v1/python/migrating) (appengine app) and faced what seems to be a bug.

I have multiple APIs under the same AppEngine service (pretty much like [he

[2017-08-07 14:05] m-murad commented on #74
Facing a similar issue.

[2017-08-07 17:11] m-murad opened #75 "Error while deploying openApi files (Migration v1 to v2.)"
Following is the structure of my project
![screen shot 2017-08-07 at 8 02 46 pm](https://user-images.githubusercontent.com/17262180/29031327-7b872c0c-7bab-11e7-9951-18926ff6f8e0.png)

I have written two APIs (`OrdersApi` and `UsersApi`) in two separate files (`orders.py` and `users.py`). For both `version='v1'`

I generated the Open API configuration files for both APIs by running the following co

[2017-08-07 21:54] m-murad commented on #47
+1

[2017-08-09 00:09] inklesspen commented on #74
Thanks for the report. I'll look into this soon.

[2017-08-09 22:19] sahr opened #76 "Spec generation basePath bug"
In v2, if the base path is set to root like so
[code]
then this incorrectly produces a spec with the basePath to nothing `""`
[code]
when it should leave it as root `"/"`

[2017-08-17 18:50] inklesspen opened #79 "schemes always set to http when generating openapi spec"
```protocol = 'http' if ((hostname and hostname.startswith('localhost')) or util.is_running_on_devserver()) else 'https'```

`is_running_on_devserver()` is always true when running locally to generate the spec. This is not desired behavior.

I think this is an error in #14.

[2017-08-25 05:46] tmst opened #81 "Partial fields mask in API Explorer not supported"
I guess this could be an issue with the Python implementation, but more likely the API Explorer itself as mentioned in the [endpoints-proto-datastore ticket](https://github.com/GoogleCloudPlatform/endpoints-proto-datastore/issues/155#issuecomment-324817324).

[2017-08-25 15:40] mdmiller53 commented on #47
+1
why is this not being looked at?  no one is assigned, it's a show stopper for us

[2017-08-25 17:42] tangiel commented on #81
This is by design. We might re-implement partial field masking again in the future.

[2017-08-25 17:58] inklesspen commented on #47
Any issue on this repo is my responsibility whether it's assigned to me or not. I am currently looking into issues related to the v1 to v2 migration, of which this is one.

[2017-08-25 21:04] inklesspen opened #82 "Multiple service classes in one server should generate one openapi file"
Currently it generates a file for each service, which is incorrect. There are probably several bugs that are caused by this.

[2017-08-25 21:06] inklesspen commented on #47
This bug will be tracked and fixed in #82.

[2017-08-25 21:07] inklesspen commented on #70
This is the same issue as #74 and is tracked and will be fixed there.

[2017-08-26 06:00] tmst commented on #81
Thanks. Modified title to be an enhancement.

[2017-08-30 00:25] inklesspen commented on #74
Not 100% sure this was fixed; reopening to double-check.

[2017-09-01 21:38] inklesspen commented on #79
dupe of #59?

[2017-09-01 21:43] inklesspen commented on #46
You should pass multiple api_collections into the api_server call. Each api_collection should correspond to a single api/version.

[2017-09-01 21:43] #82 closed

[2017-09-01 21:47] inklesspen commented on #47
The openapi generation command accepts multiple classes, as does service deployment.

In @aetherknight's example, with api classes `SomeApiService, AnotherApiV1Service, AnotherApiV2Service`, the commands should be:

[code]

[2017-09-01 21:56] inklesspen commented on #47
Correction; those commands currently work for differing versions, not same versions.

[2017-09-01 21:58] inklesspen commented on #75
Dupe of #47

[2017-09-01 21:58] #75 closed

[2017-09-01 23:04] inklesspen commented on #47
This is an issue stemming from an infrastructure service. I am inquiring to see how it can be fixed.

[2017-09-01 23:11] inklesspen commented on #74
Blocked by #47.

[2017-09-01 23:12] inklesspen commented on #70
Not the same thing as #74. However, it should be fixed by #83, which was released in 2.2.1.

[2017-09-01 23:12] #70 closed

[2017-09-19 06:59] erlichmen opened #87 "six v1.11.0 breaks endpoints"
Six version 1.11 has changed the way with_metaclass works, this cause ALL users of endpoints to fail upon running in dev_server or production with the following call stack (prod):

Error when calling the metaclass bases metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

/lib/apitools/base/protorpclite/messages.py:1165 at <modul

[2017-09-19 17:29] inklesspen commented on #87
We learned about this yesterday and I tried freezing six at 1.10.0 and it wasn't available. I see that it is available now.

The six project is well aware (https://github.com/benjaminp/six/issues/210) and so is the apitools project (https://github.com/google/apitools/issues/175). We happened to have another dependency issue yesterday as well (protorpc library). I'll let you know when it's all reso

[2017-09-29 17:55] inklesspen commented on #47
This has been added to the endpoints [Known Issues](https://cloud.google.com/endpoints/docs/known-issues) page.

[2017-09-29 17:55] inklesspen commented on #74
This has been added to the endpoints [Known Issues](https://cloud.google.com/endpoints/docs/known-issues) page.

[2017-09-29 17:55] inklesspen commented on #75
This has been added to the endpoints [Known Issues](https://cloud.google.com/endpoints/docs/known-issues) page.

[2017-10-12 22:50] #26 closed

[2017-10-20 23:07] #46 closed

[2017-10-21 00:06] inklesspen opened #94 "Tests do not run in App Engine environment"
`endpointscfg.py` uses `google.appengine.ext.testbed` to set up an appengine environment. Tox doesn't do anything of the sort.

This has caused subtle environmental differences that lead to bugs.

There are several unofficial pip-installable SDKs, but nothing up to date.

[2017-10-21 00:08] inklesspen commented on #94
https://github.com/travis-ci/travis-ci/issues/738#issuecomment-214710901 suggests we can have travis auto-install the SDK on CI.

[2017-10-21 00:09] inklesspen commented on #79
Bug hidden by #94

[2017-10-21 00:09] inklesspen commented on #59
Bug hidden from tests by #94

[2017-10-21 00:37] inklesspen commented on #94
https://pypi.python.org/pypi/appengine-sdk is already installed in the test environment; we're just not using it for this...

[2017-10-21 00:53] inklesspen commented on #94
Getting the paths just right is really annoying; make a copy of the testbed lib and strip it down to just the environment stuff, not the api shims.

[2017-10-21 13:26] hmiguel commented on #76
@sahr This is kind annoying... For now I changed the line

https://github.com/cloudendpoints/endpoints-python/blob/d2a3ff32dc663a94ebb632f594d23702067b4bfd/endpoints/openapi_generator.py#L976

to
`'basePath': api_info.base_path.rstrip('/') if api_info.base_path.rstrip('/') != '' else '/',`

cheers

[2017-10-24 22:48] #59 closed

[2017-10-24 22:48] #79 closed

[2017-10-24 22:48] #94 closed

[2017-10-26 07:07] sandeepkoduri commented on #16
Any update on update to supported libraries. We can't downgrade other libraries to use this package. is there any chance on ETA when this can be fixed?

[2017-10-26 20:28] #76 closed

[2017-10-26 22:40] kryzthov opened #100 "Specifying multiple issuers should generate OR'ed security requirements"
When I specify multiple issuer/audience requirements on an API/method, eg. as in :
[code]

the generated OpenAPI spec requires all issuers at once, which sounds incorrect:
[code]

Instead, I would expect the security requirement to be an OR of each individual issuer/audience requirement:
[code]

[2017-10-27 23:15] #100 closed

[2017-10-30 21:22] inklesspen opened #103 "2.4.1 breaks unpredictably"
Because 2.4.1 introduces a file named `types.py` and the framework generally relies on relative imports, depending on how `api_config.py` is imported, `import types as endpoints_types` may import `endpoints.types` or it may import `types`, the Python standard library.

We should switch to absolute imports as soon as is feasible and use the `from __future__ import absolute_import` directive.

In th

[2017-10-30 22:32] inklesspen commented on #103
Unfortunately, converting to absolute imports causes annoying issues with the AppEngine style lib vendoring; `python lib/endpoints/endpointscfg.py` runs the file outside of a package context.

[2017-10-31 00:26] inklesspen commented on #16
Can you please explain the difficulty? I can't find a google-api-python-client 2.0+; all I can find is google-api-python-client [1.6.4](https://pypi.python.org/pypi/google-api-python-client/1.6.4).

google-api-python-client 1.6.4 requires `oauth2client>=1.5.0,<5.0.0dev`, while the Endpoints frameworks require  `oauth2client>=2.0.0,<4.0.0dev`. oauth2client 3.0.0 would seem to satisfy both requireme

[2017-10-31 00:29] inklesspen commented on #16
Did you see the fix on https://github.com/cloudendpoints/endpoints-management-python/issues/21 ? Does that fix the issue for you?

[2017-10-31 01:22] sandeepkoduri commented on #16
I figured the issue, the library is not compatible with oauth2client 4.0.0, I figured it out after a day.
I used the oauth2client 3.0.0 that worked.

I was already using oauth2client 4.0.0, I installed endpoint 2.3 with pip, it installed smoothly and added apitools latest version which has:
from oauth2client import locked_file
ImportError: cannot import name locked_file

[2017-10-31 17:48] inklesspen commented on #16
Yes, you have to be very careful about which versions you use. Unfortunately, some of these libraries are not actively in development, but we do not have the resources at this time to switch to newer libraries. If you stick to the versions specified by our requirements, you should be fine.

[2017-10-31 17:48] #16 closed

[2017-11-01 16:38] zonito opened #108 "Unable to import "constants.py" file in project."
My code was working with previous "google-endpoints" version, but after updating it failed to import "constants" file.

[code]

If I rename it to something else like `const.py` it worked.

Few more similar errors:
[code]

[2017-11-01 20:49] inklesspen commented on #108
Do you have a constants.py file in your own app? I suppose it's possible it's colliding with the endpoints constants.py file, but that seems odd.

[2017-11-01 23:40] zonito commented on #108
Yes, I have `constants.py` file in root level.

[2017-11-02 00:36] inklesspen commented on #108
This is ultimately caused by the same problem as #103, I think. I will see if I can figure out a good fix.

[2017-11-02 15:28] zonito opened #112 "Error: Generating an OpenAPI document using the framework tools"
I see below error at the time of generating OpenAPI document

[code]

[2017-11-02 22:39] inklesspen commented on #112
This is caused by having an incorrect version of oauth2client installed. Endpoints's requirements specification requires compatible versions. You must use oauth2client version 3.0.0; any newer version will not work with apitools.

[2017-11-02 22:39] #112 closed

[2017-11-03 00:10] #103 closed

[2017-11-03 00:10] #108 closed

[2017-11-03 18:40] inklesspen commented on #108
2.4.3 contains this fix.

[2017-11-03 21:04] inklesspen commented on #54
I believe these issues should all be resolved as of 2.4.3. Please comment if you're still having issues.

[2017-11-03 21:04] #54 closed

[2017-11-03 21:13] inklesspen commented on #56
This is no longer broken; I have successfully generated a Java client library.

[2017-11-03 21:13] #56 closed

[2017-11-04 10:52] zonito opened #115 "Endpoints support till 3.0.0, and oauth2client is giving warning."
WARNING: The oauth2client.contrib.multistore_file module has been deprecated and will be removed in the next release of oauth2client. Please migrate to multiprocess_file_storage.

[2017-11-04 11:14] zonito opened #116 "Support of /spi/ and /api/"
please add support for both prefixes:
`/_ah/spi/...` and `/_ah/api/...`

For spi, I am having issue with `/_ah/spi/BackendService.getApiConfigs` with v2 version.

[2017-11-04 19:10] inklesspen commented on #115
There is nothing we can do about this. It is not endpoints which uses that library, but one of our dependencies.

[2017-11-04 19:10] #115 closed

[2017-11-04 19:11] inklesspen commented on #116
`/_ah/spi/` is not supported and will not be supported. You should use `/_ah/api/` or specify [an alternate path as shown in the docs](https://cloud.google.com/endpoints/docs/frameworks/python/api_server).

[2017-11-04 19:11] #116 closed

[2017-11-08 19:56] nilleb commented on #39
@bradfriedman anything new on this?

[2017-11-08 21:33] inklesspen commented on #39
Brad is no longer on the team.

[2017-11-08 21:45] nilleb commented on #39
Anyone any news about this?

Le mer. 8 nov. 2017 22:33, Rose Davidson <notifications@github.com> a
écrit :

[2017-11-08 21:57] inklesspen opened #118 "Newly deployed apps cannot run"
https://github.com/python-attrs/attrs/issues/284

Because attrs 17.3.0 uses the `ctypes` library, any apps deployed using this version cannot properly initialize.

The current fix is to peg the version at 17.2.0.

[2017-11-08 22:13] inklesspen commented on #39
I have only just seen this issue. I will look into it.

[2017-11-08 22:22] #118 closed

[2017-11-23 14:11] hmiguel opened #122 "3rd-Party Auth Client Credentials Grant"
Hey,

I'm trying to request my api with a [Client Credentials Grant](https://tools.ietf.org/html/rfc6749#section-4.4) access token, but it seems to fail when tries to get `user_info.email` (I guess) which is None, because Client Credentials Grant doesn't have user info.

https://github.com/cloudendpoints/endpoints-python/blob/4766d87b4d66379d350848754a1d1670aae12aba/endpoints/users_id_token.py#L11

[2017-11-29 02:04] inklesspen opened #126 "Confusing exception with GET methods and request bodies"
If a method is defined with http_method GET and the method has a message or resource container as the request body, and that request body has fields which aren't in the resource container, a strange and confusing exception arises.

Repro by cloning https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/standard/endpoints-frameworks-v2/echo/main.py and changing 'POST' to '

[2017-11-29 02:04] inklesspen commented on #126
@kryzthov Recording the issue you found so it can be improved.

[2017-12-08 17:01] hmiguel opened #127 "3rd Party Auth - Auth0"
Hello,

I'm trying to use Auth0 for authentication and following the [documentation](https://cloud.google.com/endpoints/docs/frameworks/java/authenticating-users#authenticating_with_auth0), this simply doesn't work.

I'm getting this error: `id_token verification failed: Invalid token signature`

Debugging this thing, seems like the code are checking the url `https://www.googleapis.com/service_acc

[2017-12-09 10:49] lcasartelli commented on #47
I am incurring on this specific issue and I must use 3 different versioning convention to deploy 3 different API but it is not sustainable.
Do you have any plan for this issue? @inklesspen

[2017-12-09 10:53] lcasartelli commented on #39
+1 any news on this? I am experiencing the same behavior.

[2017-12-11 20:58] inklesspen commented on #47
As yet, our underlying infrastructure does not support this.

[2017-12-15 05:00] tmst commented on #32
@sxhan I was wondering how to abstract this for use in unit tests. There's also the `users.get_current_user` method, so the FakeUser may not be required.

[2018-01-14 09:30] lcasartelli opened #129 "messages.IntegerField converted into string"
messages.IntegerField isn't handled properly in JSON responses.
If you try to define and use a message with an integer field (for example `amount`), the JSON response will be an object that contains a property with a string value instead of an integer value (in the example `{ "amount": "12345"}`), the integer value assigned is always converted into a string.

[2018-01-29 14:19] bigunyak commented on #64
I've just stumbled on the same bug.
The `allowed_clients_id` configuration doesn't work when specified on `@endpoints.api` level. So basically, if you set the `audience` argument on `@endpoints.api`, you can access the API with any service account that uses the same `audience` value when generating Google ID token.
At the same time everything works as expected when `allowed_clients_id` is configur

[2018-01-29 14:47] bigunyak opened #133 "The audience argument for @endpoints.api should be optional"
The [documentation](https://cloud.google.com/endpoints/docs/frameworks/python/troubleshoot-jwt) states the following:

That doesn't seem to work.
Following an example described on [this](https://cloud.google.com/endpoints/docs/openapi/service-account-authentication) page, I generate a Google ID token and set `TARGET_AUD` with `https://[SERVICE_NAME]`, where `[SERVICE_NAME]` is the value of the `ho

[2018-01-29 21:13] tangiel commented on #129
Is your value expected to exceed the value of a 32-bit integer? If not, I think adding `variant=Variant.INT32` will fix it. The `Variant` class is in `protorpc.messages`.

[2018-02-14 20:09] drivas commented on #126
I have the same error using endpoints_proto_datastore

[code]

Error
[code]

[2018-02-14 20:51] inklesspen commented on #126
endpoints_proto_datastore is not a supported project, but I do intend to fix the original issue soon.

[2018-02-15 20:25] winsomniak commented on #126
Hi @inklesspen

I can confirm the issue with [endpoints_proto_datastore](https://github.com/GoogleCloudPlatform/endpoints-proto-datastore) yielding the key error. Easily reproduced by following the [simple_get example](http://endpoints-proto-datastore.appspot.com/examples/simple_get.html).  We spent a bunch of time troubleshooting this and another issue related to custom ndb properties before deci

[2018-02-21 01:49] inklesspen opened #138 "protorpc rewrites all 40x errors to 400"
Raising an exception such as `endpoints.api_exceptions.NotFoundException` ought to result in an error with http status code 404, but protorpc detects it as a subclass of `protorpc.remote.ApplicationError` and sends 400 instead.

[2018-02-21 02:04] inklesspen commented on #138
https://github.com/google/protorpc/blob/95849c9a3e414b9ba2d3da91fd850156348fe558/protorpc/wsgi/service.py#L151

[2018-02-21 02:15] inklesspen commented on #138
https://github.com/google/protorpc/blob/95849c9a3e414b9ba2d3da91fd850156348fe558/protorpc/wsgi/service.py#L184

[2018-02-24 02:35] inklesspen commented on #47
The underlying infrastructure has been updated to support this use case. Stay tuned for an upcoming release of the framework which will be necessary for multiple API support.

[2018-02-26 16:23] zonito opened #140 "Why I see two extra service check calls in my every request? Slowing down a lot"
![screenshot 2018-02-27 00 18 18](https://user-images.githubusercontent.com/2670622/36681535-d4cc2fae-1b53-11e8-869e-661e484c0f06.png)

I have attached the screenshot of the trace, Where I see 2 urlfetch calls which I didn't make and it is slowing down my all API calls.

And somehow my AppEngine project with the endpoint, for just simple operation, all requests are taking more than 1s.

![screensh

[2018-02-26 18:23] tangiel commented on #140
What scaling type are you using?

[2018-02-26 18:33] zonito commented on #140
Autoscaling

On Tue, Feb 27, 2018, 2:23 AM Daniel T <notifications@github.com> wrote:

[2018-02-26 18:51] tangiel commented on #140
This is why. If you use basic scaling, those requests will take place in a background thread. If you don't need the Endpoints features in Cloud Console, you should be able to disable this by removing the Endpoints environment variables in `app.yaml`.

[2018-02-26 20:11] #47 closed

[2018-02-26 20:11] #74 closed

[2018-02-27 00:32] zonito commented on #140
@tangiel When I remove endpoint configuration from app.yaml - Looks like things are on normal track. But I want to use endpoint feature to generate android SDK, also I received this email from Google for deprecation of v1. Will this impact me?

[code]

Thanks for the guidance. Much appreciated.

[2018-02-27 00:36] zonito commented on #140
It works even without basic_scaling / with basic scaling - works same. So I will stick to autoscale as of now. I am a bit afraid of depreciation of v1.

[2018-02-27 00:40] tangiel commented on #140
If you're just migrating, you don't need the app.yaml configuration to continue generating client libraries.

[2018-02-27 00:51] zonito commented on #140
Okay, removing ENV_VARIABLES of endpoints - is it still `v2`?

And I see the different issue now:

![screenshot 2018-02-27 08 48 32](https://user-images.githubusercontent.com/2670622/36704400-2ba03be4-1b9b-11e8-84ba-6937588a8b8b.png)

I have created 2 handlers:
1. Using endpoints
2. Without endpoints

The difference you will see it in above screenshot, internal code is same but the response time/l

[2018-02-27 00:59] tangiel commented on #140
Yes, it's still v2, just with API Management disabled. If this is your latency after removing the config, I'll probably delegate to @inklesspen for investigation. You could try a higher instance size to see if it would help, though it obviously would not be ideal.

[2018-02-27 01:38] zonito commented on #140
Thanks @tangiel for your help.

In my api call, i am just reading few records from datastore (max 10 records). Just for this increasing the instance class wont make sense.

@inklesspen please guide

[2018-02-27 18:18] tangiel commented on #140
I was just suggesting raising it to see if it helps--you don't need to keep it at a high level. It would be good to know.

[2018-02-28 19:11] inklesspen commented on #140
@zonito Can you provide trace data of the two different requests (like you did in your opening comment)? Thanks.

[2018-03-01 00:59] inklesspen commented on #140
I created a very barebones API, just a couple of methods, and all they do is spit out some data from the environment. When deployed with API management, requests take around 150 ms to process; when deployed without API management, they take around 5 ms.

I don't know where the overhead is coming from in your case. I can think of some possibilities, but it's really difficult to say without examinin

[2018-03-01 07:47] zonito commented on #140
Okay, I have sent you an email at jon@inklesspen.com

To give more insight, just in case, I am using `asia-south` region.

[2018-03-01 19:25] y10h opened #142 "Trailing slash behavior is not consistent between Endpoints v1 and Endpoints v2"
Endpoints v1 (part of the appengine SDK) and Endpoints v2 (this library) don't work the same way with trailing slashes.

Endpoints v1:
 * endpoint that doesn't have trailing slash in definition (example: path = 'path/without-trailing-slash'):
   - GET with trailing slash 'path/without-trailing-slash/' — OK
   - GET without trailing slash 'path/without-trailing-slash' — OK
 * endpoint that does hav

[2018-03-02 20:09] inklesspen commented on #140
I'm afraid I can't see any obvious causes of the slowdown. That said, there is some overhead involved in the Endpoints Framework, but I don't understand how you'd get 400 ms of overhead.

I hope to introduce better profiling support in a future version of the framework.

[2018-03-02 20:17] zonito commented on #140
What to do meanwhile? This will end up creating many instances if load increases - request generally take 100ms but now 500ms (4 times higher).

[2018-03-06 03:25] ankitpatidar1 commented on #32
@lhmatt thanks ,my project working with firebase and endpoint.but my issue is when I add file from Google drive with help of picker library of JavaScript then I try to store these document .that time I get 401(not authenticate ) error

[2018-04-14 00:26] inklesspen commented on #140
@zonito Please see the recently-released version 4.0.0, which should greatly improve your request handling time.

[2018-04-17 18:45] #140 closed

[2018-04-25 18:55] inklesspen opened #150 "Discovery generator hardcodes the scopes on methods"
https://github.com/cloudendpoints/endpoints-python/blob/b4c93f71564f840a074398ffea65764ccbec41ca/endpoints/discovery_generator.py#L659-L661

The hardcoded scope is usually correct, but not always. :disappointed:

[2018-05-15 18:55] tolsac commented on #126
I have exactly the same problem .. any improvement soon ?

[2018-05-15 19:29] inklesspen commented on #126
There is a workaround; do not have request body fields in GET requests.

[2018-05-30 07:15] truepants commented on #126
We also have exactly the same problem. So you suggest as a workaround change al GET request to POST requests? For a temporary workaround in development it will be sufficient, but for production it's a no-go for my team. Is it likely to be resolved soon?

[2018-05-30 17:30] tangiel commented on #126
Can you explain why is this a no go for your team?

[2018-05-30 17:49] inklesspen commented on #126
GET requests are not supposed to have request bodies.

[2018-05-30 18:16] truepants commented on #126
Well maybe I don't understand it correctly. I have a annotation like:
@ExampleModel.method(
        request_fields=('playerId',),
        path='example/stats/{playerId}',
        http_method='GET',
        name='example.stats',
        user_required=True)

When I generate the openapi spec I get KeyError: 'api.example.stats'. Did I do something wrong?

[2018-05-30 18:20] inklesspen commented on #126
@truepants, that would be a different problem entirely; this issue is about exceptions that occur while handling GET requests that contain request bodies.

Please open a new issue with your full traceback and the code which reproduces it, and I can have a look.

[2018-05-30 18:21] inklesspen commented on #126
However please note that endpoints_proto_datastore is not supported by this team.

[2018-05-30 18:57] truepants commented on #126
Thanks for the quick response. I will create a new issue.

[2018-06-05 03:19] magoarcano opened #153 "Can't get Firebase user id"
I use Firebase Auth for authentication, but I can't get the user id.

endpoints.get_current_user().user_id() should give firebase user id. It shows None.

If not using that function, how can I easily get the Firebase user_id from the token?

[2018-06-06 21:40] #66 closed

[2018-06-21 10:20] dudedolf opened #157 "token_info 'verified_email'"
Hi,
Hopefully i am posting this in the correct place.  We have noticed that in the file 'users_id_token.py' that when the email address is being verified it is using.
`  if token_info.get('verified_email'):
    _logger.warning('Oauth token email isn\'t verified.')
    return
`
However, upon checking the responses from 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=xxx' that sometimes

[2018-06-21 12:53] salvador-bynd commented on #157
I am also having the same issue!

[2018-06-21 12:56] dudedolf commented on #157
Hi Salvador, below is by no means a long term solution but i patched the code with

`  if token_info.get('email_verified') == False or token_info.get('verified_email') == False:
    _logger.warning('Oauth token email isn\'t verified.')
    return`

if you search for 'token_info.get('verified_email')' it should take you to a file 'users_id_token.py' in which you can make the fix.

Cheers

[2018-06-21 13:07] salvador-bynd commented on #157
Thanks @dudedolf .
For local development (if appengine), we can monkey-patch to use a most recent token api version:

[code]

[2018-06-21 13:15] dudedolf commented on #157
Thank you I will look at implementing.

[2018-06-21 19:10] inklesspen commented on #157
Is this happening only in local development? Or also when running on App Engine?

[2018-06-29 18:15] #157 closed

[2018-07-05 06:02] sagar986 opened #160 "Getting error in discovery api call"
Here is full traceback.

[code]
I already tried few things like, i know some of the tries are not logical but though tried.

- Deployment using gcloud and appcfg.py
- Deleted all older version and deploying new version
- Generate new discovery doc and deployed
- Generate openapi service json and deployed new services as well.

Is any one face similar issue pls help me.

[2018-07-06 20:50] normmcgarry opened #161 "endpoints.get_current_user() "Unable to get authorized scopes" with firebase auth"
I'm getting an error when calling `endpoints.get_current_user()` with firebase auth. Simple example below:

[code]

[code]

In the request log, it shows this:
[code]

[2018-07-07 17:04] normmcgarry commented on #161
Does the Firebase Auth only work with Google Sign-In in this use case? I'm using email/password signup.

[2018-07-09 20:30] inklesspen commented on #160
Unfortunately, the ndb library is not fully compatible with the WSGI spec, including with this library. You should report this issue to the maintainers of the ndb library.

[2018-07-09 20:30] #160 closed

[2018-07-20 18:41] inklesspen opened #163 "endpointscfg get_discovery_doc uses external service; shouldn't."
https://github.com/cloudendpoints/endpoints-python/blob/c61b2689642b35e00c76c2201e46394dbf6faaf6/endpoints/_endpointscfg_impl.py#L285

somehow this didn't get converted to use discovery_generator.py.

[2018-07-23 21:58] #163 closed

[2018-08-07 23:31] inklesspen opened #167 "`request_message_descriptor` should not allow request bodies on `NO_BODY` request types"
https://github.com/cloudendpoints/endpoints-python/blob/3ccb44c8a0a6835d961e4850e5c51eb92eb92ce5/endpoints/openapi_generator.py#L597-L600

Failure to throw an exception here leads to a confusing exception within `body_parameter_descriptor` later on, as seen [here](https://groups.google.com/d/msg/google-cloud-endpoints/phd8kQGCaps/W4Cgm_OBAAAJ).

[2018-08-28 18:51] inklesspen opened #170 "Handle audiences dict properly for service account auth"
https://github.com/cloudendpoints/endpoints-python/blob/21d7e9753a9ba0b26c2380171d33cd338e2fcb08/endpoints/users_id_token.py#L222-L223

Sometimes, audiences is a dict with issuers as keys and audiences as values. When this happens, we need to determine the active issuer and select the appropriate value. We can't do this if we don't pass the real issuers in.

[2018-09-04 15:53] zonito opened #172 "After upgrading to 4.6.1, Generated client library for java is using "none" instead of "com"."
[code]

[code]

[2018-09-04 22:31] inklesspen commented on #172
Also, if possible, please share the discovery doc generated with `endpointscfg.py gen_discovery_doc`. (This discovery doc is what's used to generate the Java client; inspecting it may help me find where the problem lies.)

[2018-09-04 23:51] zonito commented on #172
I have upgraded to 4.6.1

[2018-09-04 23:55] zonito commented on #172
Discovery content

[code]

Baseurl is also showing None.

I am using `gcloud` to deploy application so in my app.yaml the "`application`" and "`version`" is commented.

Earlier, it was using `owner_domain` to create package.

[2018-09-04 23:59] zonito commented on #172
With `application` and `version`, here is the list of files generated which is different from old versions (it was using `owner_domain`):

[code]

[2018-09-05 00:03] inklesspen commented on #172
Yes, but what version did you upgrade _from_? What's the last version at which it works?

Note that generating discovery docs and clients also requires specifying the hostname, either in the api decorator or on the command line, or in the app.yaml (in that case by using the application specified in the app.yaml). In your second example, it is generating a hostname based on the app.yaml file.

Plea

[2018-09-05 00:04] zonito commented on #172
Came from `2.5.0` to `4.6.1`

`--hostname=com.fan` will do?

[2018-09-05 00:06] inklesspen commented on #172
That's quite a version jump... But I'll look into it.

And no, when you specify the hostname, you must specify the actual domain name at which your api will be served. If you're using a custom domain, that could be `fan.com`, but it can't be `com.fan`.

[2018-09-05 00:07] zonito commented on #172
`--hostname` works! 👍

[2018-09-05 00:10] zonito commented on #172
Yes, that's the issue. It creates the package with it and the endpoint as well. For now, I can the domain manually inside the Fan.Java, is there any automated way to update both?

[2018-09-05 00:10] inklesspen commented on #172
Nothing changed regarding the handling of owner_domain between 2.5.0 and 4.6.1. However, what did change was that the framework no longer calls an external service to generate discovery docs. (It does still call an external service to generate the Java client files.)

I will investigate whether the external service treated owner_domain differently.

[2018-09-05 00:14] zonito commented on #172
Thanks

[2018-09-06 18:12] inklesspen opened #173 "Add 'required' for body parameters"
https://github.com/cloudendpoints/endpoints-python/blob/2bd41f4c40f6ba2844ac88c9f2f4f82f06bac23c/endpoints/openapi_generator.py#L372-L380

The body message effectively is required, so we should put that in the generated spec.

[2018-09-09 15:15] simpledong81 opened #174 "when endpointscfg, got "TypeError: Missing issuer google_id_token""
I used "python-docs-samples/appengine/standard/endpoints-frameworks-v2/echo" for example.
When I follow the Google document "https://cloud.google.com/endpoints/docs/frameworks/python/authenticating-users" and add Firebase User Authentication to the endpoints.api decorator, I cannot generate the openapi document.
Is there anything that I have missed?

The source code is
[code]

And the error is
[co

[2018-09-11 20:54] #129 closed

[2018-09-19 17:52] zonito opened #177 "During generation of client API (Java / Android): Wrong "True" value"
[code]

In above-generated code, in Java / Android, the function return "`True`" instead of java's "`true`" (small "`t`").

it generate only when I set "`default=True`" or "`default=False`".

[code]

[2018-09-20 23:47] inklesspen commented on #122
The Endpoints Framework does not support access tokens from authentication providers other than Google. Only id tokens (JWTs) are supported from auth0.

[2018-09-20 23:47] #122 closed

[2018-09-28 23:34] #167 closed

[2018-09-28 23:34] #173 closed

[2018-10-01 16:10] zonito commented on #177
Any update on this?

[2018-10-01 18:51] inklesspen commented on #177
Not yet; it's in my list of things to investigate.

[2018-10-01 22:15] inklesspen commented on #161
Frameworks supports both JWTs and opaque OAuth access tokens, but it only supports OAuth access tokens from Google.

[2018-10-11 20:03] #127 closed

[2018-10-11 20:03] #174 closed

[2018-10-11 21:35] #170 closed

[2018-10-24 16:31] dgaedcke commented on #138
is anyone going to fix this?  makes it quite hard to debug problems before it even hits our code

[2018-10-24 19:18] inklesspen commented on #138
ProtoRPC is not actively maintained, and was never intended to be used for this use case anyway, but I will fix it if I can figure out a way.

[2018-11-16 20:04] inklesspen commented on #172
4.6.1 generates discovery docs that are missing the 'etag' and 'ownerDomain' keys. Neither of those keys is documented at https://developers.google.com/discovery/v1/reference/apis but at least the 'ownerDomain' key seems to be important.

[2018-11-16 21:49] inklesspen commented on #172
Turns out there's actually two ways to specify the owner domain. One way is with `owner_domain='example.com'`; the other is with `namespace=endpoints.Namespace(owner_domain='example.com', owner_name='Example')`.

The discovery document generation which fed into the Java client generation used to use the first value; now it uses the second value. The problem is this second value is nowhere document

[2018-11-16 22:41] inklesspen commented on #177
discovery docs are expected to encode defaults as they would be found in protocol buffer specifications. For booleans, this means "true" and "false".

[2018-11-20 18:47] #172 closed

[2018-11-20 18:47] #177 closed

[2018-11-20 18:47] inklesspen commented on #172
A new version with this fix will be released after the Thanksgiving holiday.

[2018-11-20 18:47] inklesspen commented on #177
A new version with this fix will be released after the Thanksgiving holiday.

[2018-11-26 22:35] inklesspen opened #184 "api_key shouldn't count as an issuer for audience purposes"
In 4.7.0, OpenAPI generation raises a 'audiences must be a dict when third-party issuers are in use' exception if non-Google Auth issuers are in use. However, api_key is technically treated as an issuer, even though it's a different kind of security control. Ignore api_key for these purposes.

[2018-11-26 23:54] #184 closed

[2018-11-27 00:05] inklesspen commented on #177
Frameworks version 4.8.0 has been released, which includes a fix for this issue.

[2018-11-27 00:05] inklesspen commented on #172
Frameworks version 4.8.0 has been released, which includes a fix for this issue.

[2018-12-11 22:08] zonito commented on #172
Thanks

[2018-12-11 22:45] zonito opened #187 "After upgrading to 4.8.0, I am not able to generate Library"
When I run below command

[code]
I get below error

[code]

Here is my requirements.txt

[code]

And when I set `ENDPOINTS_GAE_SDK` to google cloud SDK - then it uses 4.6.1 version.

After requirements.txt, here are list of installed library

[code]

And If it uses 4.6.1 then I get https://github.com/cloudendpoints/endpoints-python/issues/172 issue.

[2018-12-13 22:45] inklesspen commented on #187
You say "And when I set ENDPOINTS_GAE_SDK to google cloud SDK - then it uses 4.6.1 version."

But the Google Cloud SDK does not include version 4.6.1 of the Endpoints library. How do you know it is using that version?

You must provide a path to the Google Cloud SDK to use the Endpoints tools, because they require the App Engine SDK libraries.

[2019-01-07 14:40] zjaml opened #188 "API management for multiple APIs only work for one."
I struggled to get multiple APIs working correctly for days.
After I deployed the service using the steps below, although both api require api key,  the problems are:
1. **I can call one of them without providing api key while the other does require an api key.**
2. Only one of the API are showing up in developer portal. Sometimes AuthedGreetingApi, sometimes GreetingApi.

Is this a bug for cloud

[2019-03-12 08:46] realgsong opened #189 "get_swagger_spec causes AttributeError: 'Namespace' object has no attribute 'x_google_api_name'"
# Repro
1. clone https://github.com/GoogleCloudPlatform/python-docs-samples
1. cd ~/python-docs-samples/appengine/standard/endpoints-frameworks-v2/echo
1. pip install --system -t lib google-endpoints>=4.8.0
1. python ./lib/endpoints/endpointscfg.py  get_swagger_spec main.api

# Error
[code]

Please tell me if I'm missing something.

[2019-03-12 22:25] inklesspen commented on #189
Unfortunately, that example is obsolete and should not be used. The correct examples are in https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/endpoints-frameworks-v2

[2019-03-12 22:26] #189 closed, assigned to nobody

[2019-03-13 00:59] realgsong commented on #189
I got the same error with endpoints-frameworks-v2 sample. @inklesspen would you reopen this issue?

[code]

[2019-03-13 18:51] tomboc commented on #189
get_swagger_spec is a legacy command, replaced by get_openapi_spec.
While I investigate why get_swagger_spec doesn't behave correctly, use:
python ./lib/endpoints/endpointscfg.py get_openapi_spec main.EchoApi

The full up-to-date instructions for Endpoints Frameworks are here: https://cloud.google.com/endpoints/docs/frameworks/python/get-started-frameworks-python

[2019-03-13 20:47] dgaedcke opened #191 "cachetools conflict with firebase-admin"
You require:
google-endpoints-api-management
which is also requiring:
google-auth

but firebase-admin depends upon:
google-api-core which requires :
google-auth<2.0dev,>=0.4.0

so I'm getting this error:
google-auth 1.6.3 has requirement cachetools>=2.0.0, but you'll have cachetools 1.1.6 which is incompatible.

Also can you please make a note on the README.MD that using endpoints FORCES you to ig

[2019-03-13 21:45] dgaedcke commented on #191
author of firebase-admin has kicked this over to you
https://github.com/firebase/firebase-admin-python/issues/269#issuecomment-472594642

[2019-03-14 00:14] inklesspen commented on #191
google-endpoints-api-management does not require google-auth. It does require `cachetools < 2`. The most common reason for an upward bound on versions is that the new version does not function on App Engine. The second most common reason is that we have a dependency which requires an older version. I don't know the exact reason for this upward bound.

This issue is properly tracked in https://gith

[2019-03-14 00:14] #191 closed, assigned to nobody

[2019-04-18 10:35] ppik opened #192 "Passing JSON value other than an object in request body results in 500 Internal Server Error"
When the client sends a POST request that consists of any other JSON value besides a JSON object, e.g, a string or an array, the endpoints framework returns with 500 Internal Server Error. Would expert a 400 Bad Request error for parsing ProtoRPC request.

To reproduce, e.g., use [the echo example](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard/endpoints-

[2019-05-14 07:51] walnut-kunal opened #193 "Params sequence changed for all functions in the generated library after upgrading endpoints to 4.8"
e.g for a function search(string a , int b, int c) in the new library the function looks like
search(int c, int b, string a).
we have a app using older library with the params sequence shown in the first example. this change will need the app to refactor all the functions.
is there any way of going back to the original sequence of params ?

Thanks.

[2019-05-17 10:16] walnut-kunal commented on #193
Realised today that the params are now alphabetically sorted by name and not just random seqeunce

[2019-05-24 19:14] salvador-bynd commented on #81
+1

[2019-06-22 08:44] hashikami opened #194 "Cloud Endpoints, support Google App Engine Standard for Python 3.x"
I have 2 questions.

1. When will Cloud Endpoints support Google App Engine (GAE) standard environment for python 3.x?
As you know, in https://cloud.google.com/endpoints/docs/frameworks/python/get-started-frameworks-python, "Note: Make sure you have Python 2.7.x installed. python 3.x isn't supported by Endpoints Frameworks." Even though python 2.7.x is end of support this year, I can not upgrade t

[2019-06-25 02:03] #194 closed, assigned to nobody

[2019-07-11 06:39] MoSehsah commented on #161
Hi,
so, the tutorial here https://cloud.google.com/endpoints/docs/frameworks/python/authenticating-users#authenticating_with_firebase_auth shouldn't be working ? Is there any other steps than what is listed there ?

[2019-07-11 07:59] MoSehsah commented on #161
@normmcgarry are you able to get this working ? I'm trying to do the same thing but I get the same error.

[2019-08-02 09:10] ndrd commented on #194
Why are you closing this issue? There are no intentions of provide a version for python 3?
Next year python 2.7 reaches EOL!

[2020-01-22 21:32] stathismor opened #196 "Importing endpoints gives ValueError: invalid literal error"
As of today, running `dev_appserver` gives me this error:
[code]
Any ideas what's happening?

[2020-02-29 01:39] ubragg commented on #191
There has been no movement on this bug over there since it was filed, despite a trivial PR that was submitted to no response for over 4 months.

Given that this library is the one I actually use, and it currently isn't compatible with the google-cloud (or firebase-admin) library, is there any overlap in the teams that might help shake the tree a bit?  Or have the cloudendpoints libraries been comp

[2020-06-30 21:40] petrusgomes commented on #188
I have a similar issue using Endpoints for Cloud Run (not python framework). I can deploy multiple yaml files using x-google-api-name, but portal only show the first one. APIs from both files are called, but I haven't tested authentication.
Issues could be related.